build
.DS_Store
docs/*.aux
docs/*.log
docs/*.out
docs/*.gz
docs/*.toc
docs/*.fls
docs/*.fdb_latexmk
examples/signals/*.wav
examples/signals/*.svg
examples/scientific/*.svg
examples/plotting/*.svg
tests/*.wav
